.container{
    display: flex;
    flex-direction: row;
    margin: 10%;
    margin-left: 20%;

}

.imgContainer{
    width:420px;
    height:460px
}

.textContainer{
    margin-left: 80px;
    margin-top: 120px;
    max-width: 50ch;
    line-height: 40px;
    font-size: 20px;
    /* background-color: aqua; */
}

@media only screen and (max-width: 1180px) {
      .container{
          /* background-color: aqua; */
          display: flex;
          flex-direction: row;
          margin: 10%;
          margin-left: 5%;
      }

      .imgContainer{
        width:320px;
        height:360px;
       margin-top: 30%;
    }

    .textContainer{
        margin-left: 80px;
        margin-top: 120px;
        max-width: 90ch;
        line-height: 40px;
        font-size: 20px;
        /* background-color: aqua; */
    }
}

@media only screen and (max-width: 780px) {
    .container{
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        margin: 10%;
        margin-left: 5%;
    }

    .imgContainer{
      width:220px;
      height:220px;
     margin-top: 20%;
    margin-left: 20%;
  }

  .textContainer{
      margin-left: 80px;
      margin-top: 80px;
      max-width: 40ch;
      line-height: 40px;
      font-size: 20px;
      /* background-color: aqua; */
  }
}